<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>140978795304-lq0p9bohp9hg43bsie8dreskfsmddniu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.140978795304-lq0p9bohp9hg43bsie8dreskfsmddniu</string>
	<key>API_KEY</key>
	<string>AIzaSyDnPeo0XIw0PA020h9CdUZ5ZavNnTLsNH4</string>
	<key>GCM_SENDER_ID</key>
	<string>140978795304</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blueribbon.wallet</string>
	<key>PROJECT_ID</key>
	<string>blueribbon</string>
	<key>STORAGE_BUCKET</key>
	<string>blueribbon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:140978795304:ios:bcae3b42f045547a24561d</string>
	<key>DATABASE_URL</key>
	<string>https://blueribbon.firebaseio.com</string>
</dict>
</plist>